<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name=”description” content=”find the latest memes straight from reddit without any hassel and much more.“>
  <meta name='theme-color' content="#00838f" />
  <meta name="google-site-verification" content="OHRHgTSZ8zPDzZuRQ5eNulgC45EUNkdmyg9oaPcfRZM" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='manifest' href='/manifest.json'>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="apple-touch-icon" href="/images/brand.svg">
  <meta name="apple-mobile-web-app-status-bar" content="#FFE1C4">
  <title>meme</title>

  <style>
    .galleria {
      position: absolute;
      top: 58px;
      bottom: 10px;
      left: 5px;
      right: 5px;
      display: block;

    }

    .navbar {
      z-index: 100;
      margin: 3px 5px 5px 5px;
      border-radius: 3px;
    }
  </style>
</head>


<body class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">

    <a class="navbar-brand" href="">Welcome</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/reaper6947/reddit-meme-webpage">contribute on github</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Popular meme subreddits
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/img/dankmemes">dankmemes</a>
            <a class="dropdown-item" href="/img/MemeEconomy">MemeEconomy</a>
            <a class="dropdown-item" href="/img/DeepFriedMemes">DeepFriedMemes</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/" method="POST">
        <input class="form-control mr-sm-2" type="text" placeholder="search any subredit" name="id">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class=" bg-dark imgdiv">
    <div class="galleria">
      <% url.forEach( e => {  %>
      <img src="<%-e%>" alt="memes" loading="auto">
      <%  }); %>
    </div>
  </div>

  <script>
    if (!navigator.serviceWorker.controller) {
      navigator.serviceWorker.register("/sw.js", {
        scope: "/"
      }).then(function (reg) {
        console.log("Service worker has been registered for scope: " + reg.scope);
      });
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script src="/js/galleria.min.js"></script>
  
  <script>
    (function () {
      Galleria.loadTheme("/js/themes/classic/galleria.classic.min.js");
      Galleria.run('.galleria', {
        _toggleInfo: false,
        preload: 4
      })
    }());
  </script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

</body>

</html>