<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>meme</title>
  <link rel="stylesheet" type="text/css" href="/public/master.css">
  <style>
    img {
      padding-top: 3%;
      padding-bottom: 3%;
    }

    .container {
      padding-right: 5px;
      padding-left: 5px;
    }
  </style>
</head>

<body class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">welcome to my meme site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/reaper6947/reddit-meme-webpage">contribute on github</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/" method="POST">
        <input class="form-control mr-sm-2" type="text" placeholder="search any subredit" name="id">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


  <div class="container text-center bg-dark " style="padding:5px!important">
    <% for ( var i = 0 ; i < url.length; i++) {  %>
    <img class=" text-center rounded img-fluid img-thumbnail border border-primary lzy_img" src="placeholder.png"
      data-src="<%-url[i]%>" alt="memes">
    <% ; } %>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const imageObserver = new IntersectionObserver((entries, imgObserver) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const lazyImage = entry.target
            console.log("lazy loading ", lazyImage);
            lazyImage.src = lazyImage.dataset.src;
            lazyImage.classList.remove("lzy_img");
            imgObserver.unobserve(lazyImage);
          }
        });
      });
      const arr = document.querySelectorAll('img.lzy_img');
      arr.forEach((v) => {
        imageObserver.observe(v);
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142476193-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-142476193-3');
  </script>
</body>

</html>